In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({ "id":[1,2,3,4],"Name": ["Mohith Kumar","Vijay","Rama Krishna","Tharun"]})
df2 = pd.DataFrame({ "id":[2,3,1,4,5],"sal": [2000,5000,3600,56000,56000] })

In [11]:
df2.sort_values(by='id',inplace=True)

In [24]:
df2.rename(columns={'id':'iid'},inplace=True)

In [33]:
df2.index.reindex(['one','two','three'])

(Index(['one', 'two', 'three'], dtype='object'),
 array([-1, -1, -1], dtype=int64))

In [34]:
df2

   iid    sal
2    1   3600
0    2   2000
1    3   5000
3    4  56000
4    5  56000